/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.heroBanner {
  padding: 4rem 0;
  text-align: left;
  position: relative;
  overflow: hidden;
  background-image: url('/img/pattern-01.png');
  background-repeat: no-repeat;
  background-position: right;
  background-size: 800px;
  margin: 0 -140px 0px 0px;
}

@media screen and (max-width: 996px) {
  .heroBanner {
    padding: 2rem;
    background-size: 600px;
    margin: 0 -240px 0px 0px;
  }
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}